<!DOCTYPE html>
<html>
{% include head.html %}
  <body>

  {% include nav.html %}


    <div class="row-fluid">
      <div class="offset3 span9 main" id="title">
          <h1>{{ post.title }}</h1>

          <h2>A subtitle goes here </h2>

          <p>Add a bit of a description here about your project.</p>
<h3>Why?</h3>

      </div>
    </div>


  <div class="row-fluid">
      <div class="offset3 span9 post" id="links">
        <br>
        <div class="row-fluid">
          <div class="span6">

            <div class="anim-container">
              <i class="icon-star"></i>
              <a href="https://github.com/roachhd/mini">+1 on Github</a>
            </div>

            <div class="anim-container">
              <i class="icon-search"></i>
              <a href="http://katieball.me/">Other stuff</a>
            </div>

          </div>
          <div class="span6">

            <div class="anim-container">
              <i class="icon-github"></i>
              <a href="https://github.com/roachhd/mini">Clone</a>
            </div>

<!--
            <div class="anim-container">
              <i class="icon-list"></i>
              <a href="/changelog.html">Changelog</a>
            </div>

-->
          </div>
        </div>
      </div>
    </div>

    <div id="content" class="row-fluid">
      <div class="offset3 span9 post">

<!-- Content -->

  {{ content }}

<!-- end content -->
      </div>
    </div>
  </div>

{% include scripts.html %}

</body>
</html>
